
		.bodyimg{
    		
   			height: 500px;
    		width: 700px;
    		border-bottom: 1px solid #e1e1e1;
			box-shadow: 0px 0px 10px #ccc;
			border-radius: 25px;
    		position: absolute;
    		top: 116px;
			left:80px;
			z-index: -1;
			transition: .6s;
		}
		
		.loginbox{
			margin: 10px;
			padding: 10px;
			height: 480px;
    		width: 500px;
			border-bottom: 1px solid #e1e1e1;
			box-shadow: 0px 0px 10px #ccc;
			border-radius: 25px;
			position: relative;
			bottom: -26px;
    		left: 815px
		}
		.boxname{
			position: relative;
			top: 10px;
			left:150px;
		}
		.boxform{
			position: relative;
			top: 10px;
			left:100px;
		}
		.loginname{
			color:#737ea5;
		}
		.help{
			color:#737ea5;
		}
		.text{
			position: relative;
		    width:50%; 
		    padding: 17px;
		    background: #f5f5f5;
		    color: #333;
		    outline: none;
		    box-shadow: none;
		    margin: 12px 0;
		    font-size: 18px;
		    letter-spacing: 1px;
		    border-radius: 10px 10px 10px 10px;
		    border: solid #eee thin;
		}
		form{
			position: relative;
			top: 76px;
		}
		input:hover{
			transition: 1s;
			background-color:#d6ccd3;
		}
		section a{
			color: #737ea5;
		}
		section a:hover{
			color: #E60012;
		}
		button{
			margin: 10px;
		    background: #737ea5;
		    height: 50px;
		    width: 200px;
		    color: #fff;
		    cursor: pointer;
		    font-size: 26px;
		    font-weight: 500;
		    letter-spacing: 1px;
		    transition: .5s;
		    border-radius: 10px 10px 10px 10px;
		    border: solid #eee thin;
		}
		button:hover{
			transition: .5s;
			background: #e91a2a;
		}
	